services:
  base:
    image: turtlebot4:base
    build:
      context: .
      target: base
    # command: tmux
    stdin_open: true
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority
    environment:
      - DISPLAY=${DISPLAY}
    network_mode: host
  dev:
    extends: base
    image: turtlebot4:dev
    build:
      context: .
      target: dev
      args:
        - UID=${UID:-1000}
        - GID=${UID:-1000}
        - USERNAME=${USERNAME:-devuser}
    user: ${USERNAME:-devuser}
    command: sleep infinity
    volumes:
      # - ignitionuserdata:/home/${USERNAME:-devuser}/.ignition
      # - rosuserdata:/home/${USERNAME:-devuser}/.ros
      # - ignitiondata:/root/.ignition
      # - rosdata:/root/.ros
      - ${XAUTHORITY:-$HOME/.Xauthority}:/home/${USERNAME:-devuser}/.Xauthority
      # - /dev/dri:/dev/dri
  devnogpu:
    extends: dev
    environment:
      - LIBGL_ALWAYS_SOFTWARE=1
  devmesa:
    extends: dev
    volumes:
      - /dev/dri:/dev/dri
  devnvidia:
    extends: dev
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=all
  simnogpu:
    extends: devnogpu
    command: ros2 launch turtlebot4_ignition_bringup turtlebot4_ignition.launch.py world:=maze slam:=true nav2:=true rviz:=true
  simmesa:
    extends: devmesa
    command: ros2 launch turtlebot4_ignition_bringup turtlebot4_ignition.launch.py world:=maze slam:=true nav2:=true rviz:=true
  simnvidia:
    extends: devnvidia
    command: ros2 launch turtlebot4_ignition_bringup turtlebot4_ignition.launch.py world:=maze slam:=true nav2:=true rviz:=true

volumes:
  rosuserdata:
  ignitionuserdata:
  rosdata:
  ignitiondata:
